extends layout

block content 
    div(class="row move-down")
        div(class="col-md-8")
            a(href="/cat", class="btn btn-primary", role="button")
                span(class="glyphicon glyphicon-list")
                |  Kategorijos
            | 
            a(href="/note/new", class="btn btn-primary", role="button")
                span(class="glyphicon glyphicon-plus")
                |  Naujas užrašas
    div(class="row move-down")
        div(class="col-md-8")