nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
      a.navbar-brand(href='/') Patalpų šildymo valdymo ir kontrolės sistema
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
      div(class="row move-down")
        ul(class='navbar-nav-rigth')
        //- | Sveiki, #{user.name}
        //- | Sveiki, Vartotojas
        a(href='/user/logout' class='btn btn-secondary' role='button') Atsijungti

nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/') Pradžia 
          li.nav-item
            a.nav-link(href='/roomData/show') Peržiūrėti patalpų duomenis
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false' id='ss')
              | Valdyti patalpų parametrus
            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                li
                    a.dropdown-item(href='#') Adm. Sudaryti spec. tvarkaraštį
                li
                    a.dropdown-item(href='/roomData/add') Adm. Pridėti patalpą
                li
                    a.dropdown-item(href='/roomData/edit') Adm. Redaguoti patalpą
                li
                    a.dropdown-item(href='calendar') Sudaryti tvarkarastį
                li
                    a.dropdown-item(href='#') Peržiūrėti patalpų parametrus
          li.nav-item
            a.nav-link(href='/') Adm. Šildymo sezoniškumo valdymas   


          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false' id='ss1')
              | Adm. Valdyti valdiklius
            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                li
                    a.dropdown-item(href='/controlerData/editSelection') Adm. Valdyti valdiklių nustatymus  
                li
                    a.dropdown-item(href='/controlerData/add') Adm. Pridėti valdiklį  
                li
                    a.dropdown-item(href='/') Adm. TODO  


          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false' id='ss1')
              | Adm. Valdyti vartotojus
            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                li
                    a.dropdown-item(href='/user/register') Pridėti naują vartotoją
                //- li
                //-     a.dropdown-item(href='#') Sudaryti tvarkarastį
                //- li
                //-     a.dropdown-item(href='#') Peržiūrėti patalpų parametrus      
            